<footer id="sticky">
  
  <!--containers for footer content-->
  <div class="container siteNav">
    <nav><span style="border-bottom:2px solid">Links</span>
      <ul>
        <li>
          <a class="link" href="#">Public stories</a>
        </li>
        <li>
          <a class="link" href="#">About</a>
        </li>
      </ul>
    </nav>
  </div>
   
  <div class="container cta">
    <button><a class="link" href="#">Add a story</a></button>
  </div>
  
</footer>