<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initil-scale=1.0'>
        <meta http-equiv='X-UA-Compatible', content='ie=edge'>
        <script src="https://kit.fontawesome.com/a62356e1e8.js" crossorigin="anonymous"></script>
    <!-- css from public folder -->  
    <link rel="stylesheet" href="/css/style.css">

     <title>StoryBook</title>

    </head>

    <body>
     {{> _header}}
     <main>
    <div class="container">
      {{{body}}}
    </div>
     </main>  
     {{>_footer}} 


    
 
  </body>
</html>