
<div class="content">
<h1>Welcome</h1>
<p>Welcome to story book </p>
<p>Post stories from the best and worst of your life and choose from them
    to be read by the world or completely private as you own personal diary
</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="fa fa-google"></a>
{{/if}}
</div>
